{% extends "layout/_layout.html" %}
{% block page-container %}
<main>
    <section class=" container" role="banner">
        <div class="wrap-empty-product">
            <img src="assets/images/oopst.png">
            <h2 class="title-empty-product">Sản phẩm bạn cần tìm đang cập nhật</h2>
            <p>Bạn vui lòng quay trở lại sau</p>
            <a href="#"><img src="assets/images/banner/banner-oops.png"></a>
        </div>
    </section>
</main>
{% include "block/_block-modal-menu.html"%}
{% endblock %}
