{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <section class=" container" role="banner">
        <div class="banner">
            <div class="input-search">
                <input class="search" type="text" placeholder="Tìm kiếm sản phẩm yêu thích">
                <i class="icon-serch">&nbsp</i>
            </div>
            <div class="wrap-logo">
                <img src="assets/images/logo-supplier.png" alt="logo-brand">
            </div>
        </div>
    </section>
    <!--/begin HOME MAIN CONTENT-->
    <section class="main category" role="main">
        <div class="container">
            <div class="recommend ">
                <div id="scroll-menu">
                    <h2 class="title">ABC Cube <span>Tìm thấy 252 sản phẩm</span></h2>
                    <div class="menu-slick menu-slick-style1 menu-category menu-h3">
                        <ul class="nav nav-tabs slider " role="tablist">
                            <li role="presentation" class="active item-menu">
                                <a href="#tab1" class="title-menu" title="" aria-controls="home" role="tab" data-toggle="tab">Tất cả</a>
                            </li>
                            <li role="presentation" class="item-menu">
                                <a href="#tab2" class="title-menu" title="" aria-controls="profile" role="tab" data-toggle="tab">Điện thoại</a>
                            </li>
                            <li role="presentation" class="item-menu">
                                <a href="#tab3" class="title-menu" title="" aria-controls="messages" role="tab" data-toggle="tab">Tivi</a>
                            </li>
                            <li role="presentation" class="item-menu">
                                <a href="#tab4" class="title-menu" title="" aria-controls="messages1" role="tab" data-toggle="tab">Máy giặt</a>
                            </li>
                            <li role="presentation" class="item-menu">
                                <a href="#tab5" class="title-menu" title="" aria-controls="settings1" role="tab" data-toggle="tab">Tủ lạnh</a>
                            </li>
                            <li role="presentation" class="item-menu">
                                <a href="#tab5" class="title-menu" title="" aria-controls="settings1" role="tab" data-toggle="tab">Nhà bếp</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="position-scroll">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <ul class=" row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <div class="percent-sale">
                                        <i class="icon-sale">&nbsp</i>
                                        <span>35%</span>
                                    </div>
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-1.png">
                                </div>
                                <p class="name-product">Sữa bột Abbott Grow G-Power 3+ hương vani...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-2.png">
                                </div>
                                <p class="name-product">Sữa bột Abbott Grow G-Power 3+ hương vani...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-3.png">
                                </div>
                                <p class="name-product">Sữa bột Abbott Grow G-Power 3+ hương vani...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <div class="percent-sale">
                                        <i class="icon-sale">&nbsp</i>
                                        <span>35%</span>
                                    </div>
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-5.png">
                                </div>
                                <p class="name-product">Sữa bột Abbott Grow G-Power 3+ hương vani...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-6.png">
                                </div>
                                <p class="name-product">Sữa bột Abbott Grow G-Power 3+ hương vani...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <div class="percent-sale">
                                        <i class="icon-sale">&nbsp</i>
                                        <span>35%</span>
                                    </div>
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-7.png">
                                </div>
                                <p class="name-product">Sữa bột Abbott Grow G-Power 3+ hương vani...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-8.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-9.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-10.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-11.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-12.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 1 -->
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <ul class=" row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-11.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-12.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 2 -->
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-11.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-12.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-11.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-12.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 3 -->
                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-11.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-12.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 4 -->
                    <div role="tabpanel" class="tab-pane" id="tab5">
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-1.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-2.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-3.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-5.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 5 -->
                    <div role="tabpanel" class="tab-pane" id="tab6">
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-5.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-6.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-7.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-12.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 6 -->
                    <div role="tabpanel" class="tab-pane" id="tab7">
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-6.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-7.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-8.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-9.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 7 -->
                    <div role="tabpanel" class="tab-pane" id="tab8">
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-1.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-2.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/product-category/pro-3.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-12.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-13.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-14.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                        <ul class="row">
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-15.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                            <li class="col-sm-6 item">
                                <div class="wrap-img">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                    <img src="assets/images/products/pro-16.png">
                                </div>
                                <p class="name-product">Bếp nướng điện thông minh size lớn thương...</p>
                                <p class="price">1.235.000đ <span class="old">1.890.000đ</span> <span class="km">KM đến 20/9</span></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end tab 8 -->
                </div>
                <div class="more-recommend"><a href="#" title="">Xem thêm sản phẩm gợi ý <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </section>
    <!--/end HOME MAIN CONTENT-->
</main>
{% include "block/_block-modal-menu.html"%} {% endblock %}