<!-- begin MAIN MENU -->
<div id="show" class=" background">
    <div class="modal" id="main-menu">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" id="btn-close" class="close" data-dismiss="modal"><i class="icon-close">&nbsp</i></button>
                <ul class="main-menu">
                    <li class="Selected"><i class="icon-login">&nbsp</i> <a href="#"> Đăng nhập</a> / <a href="#">Đăng ký</a></li>
                    <li>
                        <a href="#">Tã & sữa <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Phụ kiện điển tử<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Mẹ & bé<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Thiết bị gia đình<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Thể thao dã ngoại<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"> Điện tử<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"> Thời trang và phụ kiện<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Sách - Văn phòng phẩm<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"> Thực phẩm<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#">Sức khỏe<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"> Mỹ phẩm - Làm đẹp<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>