<footer>
    <!-- <ul class="container wrap-footer">
        <li class="col-sm-4">
            <i class="icon-support">&nbsp</i>
            <p>Hỗ trợ khách hàng</p>
        </li>
        <li class="col-sm-4">
            <i class="icon-ask">&nbsp</i>
            <p>Bạn thắc mắc ?</p>
        </li>
        <li class="col-sm-4">
            <i class="icon-mm">&nbsp</i>
            <p>myMall.vn</p>
        </li>
    </ul> -->
    <a href="#" class="scrollup" title=""><span class="fa fa-angle-up"></span></a>
    <div class="container">
        <div class="company">
            <p>Công ty <b>TNHH TM&DV Thiên Nam Hòa</b>
                <br/>
                <b>Địa chỉ:</b> Lầu 7, 277B Cách Mạng Tháng Tám, Phường 12, Quận 10, Tp HCM
                <br/> <b>Hotline:</b> 1900 1829. <b>Email:</b> hotro@dienmaythienhoa.vn</p>
        </div>
        <div class="device-changing">
            <a href="#" title="">Xem phiên bản đầy đủ Desktop <i class="fa fa-caret-right" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>