<header id="header" data-spy="affix" data-offset-top="50">
    <div class="container-header">
        <div class="row">
            <div class="hamburger">
                <a href="#" class="btn-cat" >
                    <i class="icon-menu">&nbsp</i>
                </a>
            </div>
            <div id="ip-search" class="input-search">
                <i id="close-search" class="icon-close" aria-hidden="true">&nbsp</i>
                <input class="search" type="text" placeholder="Tìm kiếm sản phẩm yêu thích">
                <i class="icon-serch">&nbsp</i>
            </div>
            <div class="title-page">
                <a class="logo" href="01_index.html"><img src="assets/images/logoTH.png" alt="MyMall"/></a>
            </div>
            <div class="text-right">
                <div class="hotline">
                    <p class="hotline">1900 1829 (0)</p>
                    <span>(08-22h, từ T2-CN)</span>
                </div>
                <button id="btn-search" class="btn-t btn-search-home" href="#"><i class="icon-serch">&nbsp</i></button>
                <div class="cart dropdown"><a href="javascript:void(0);" title="" type="button" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/images/icons/icon-cart.png" alt=""><span class="number">6</span></a>
                    <div role="menu" aria-labelledby="menu1" class="dropdown-menu">
                    </div>
                </div>
            </div>
        </div>
        <p class="show-hotline">1900 636 088</p>
    </div>
</header>